/* You can add global styles to this file, and also import other style files */

@import 'variables.scss';


.content {
	font-family: 'Ubuntu', sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	max-width: 100%;
	border-radius: 2px;
	overflow: hidden;

	header {
		color: $white-app;
		text-align: center;
		display: inline-block;
		width: 100%;
	nav {
	  	padding: 15px 0;
		display: inline-block;
		a {
			margin: 20px;
		    color: #337ab7;
		    transition: all 300ms;
		    font-weight: bold;
		    font-size: 20px;
		}
		a:hover {
			text-decoration: none;
			font-size: 25px;
			padding: 15px 0;
		}
		a:focus {
			font-size: 18px;
		}

		}
	}
	.main {
	padding: 0 50px;
		.jumbotron{
		    background-color: #FFFFFF;
			padding-top: 0;
			p {
			margin: 30px 0 50px 0;
			}
			.botones {
			text-align: center;
				a {
				margin: 20px;
			}

			}
		}
	}
	.form-product {
		label {
			margin-top: 10px;
		}
	}
	footer {
		background-color: $blue-app; 
		color: $white-app;;
    	display: inline-block;
    	width: 100%;
		padding: 10px;
    	vertical-align: middle;
    	text-align: center;
	    margin-top: 20px;
	    position: fixed;
	    bottom: 0;
	    left: 0;
	}
}



.producto_imagen {
	height: 200px;
	margin: 0px auto;
	display: block;

}

.imagen_relleno {
	background: $gray-app;
	width: 100%;
	height: 200px;

	
}

.imagen_container {
	width: 100%;
	overflow: hidden;
}

.image-miniature {
	img {
    	width:100px;
	}
    text-align: center;
    padding: 25px;
}
