
<div class="container">
  <div class="row">
    <div class="content col-lg-12">
      <header class="col-lg-12">  
        <h1>{{ title }}!</h1>
      </header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Productos</a></li>
          <li><a href="#">Crear Productos</a></li>
        </ul>
      </nav>
      <section class="main col-lg-12">
        <!--Componente actual-->
        <h3>Texto principal</h3>
      </section>
      <footer>
        <div class="col-lg-12">
            <h6>WEB APP Walter Roa Serrano 2019 - <a href="http://fx.timemachinevr.co/personalPortfolioFrances/"> Portafolio</a></h6>
        </div>
      </footer>
    </div>
  </div>
</div>

