<h3>{{titulo}}</h3>
<hr/>

<form #formProduct="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6 form-product">
	<label>Nombre</label>
	<input type="text" name="name" #nombre="ngModel" [(ngModel)]="producto.nombre" class="form-control">

	<label>Descripcion</label>
	<textarea name="descripcion" #descripcion="ngModel" [(ngModel)]="producto.descripcion" class="form-control"></textarea> 

	<label>Precio</label>
	<input type="text" name="precio" #precio="ngModel" [(ngModel)]="producto.precio" class="form-control">

	<label>Imagen</label>
	<input type="file" name="imagen" class="form-control">
	<br>
	<input type="submit" value="{{titulo}}" class="btn btn-success">
</form>