<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div *ngIf="!producto">
			<p class="text-center">Veuillez patienter pendant le chargement du produit......</p>
			</div>
			<div *ngIf="producto">
				<div class="col-md-4" *ngIf="producto.imagen">
				<img src="http://localhost:8888/angularapirest/uploads/{{producto.imagen}}" class="producto_imagen"/>
				</div>
			<div class="col-md-8">
				<h2>Detail du produit</h2>
				<h3>{{producto.nombre}}</h3>
				<h1><strong>{{producto.precio}} €</strong></h1>
				<p>{{producto.descripcion}}</p>
				<div>
					<a [routerLink]="['/products']" class="btn btn-md btn-danger">Retourner</a>
				</div>
			</div>
		</div>
	</div>
</div>

